PORT=
NODE_ENV=development

# PostgreSQL Database Connection
# If using a full connection string:
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/logicloom_db
PGHOST=
PGPORT=
PGDATABASE=
PGUSER=
PGPASSWORD=
DATABASE_URL=

# JWT Secret & Cookie Secret
JWT_SECRET=
JWT_EXPIRES_IN=7d
COOKIE_SECRET=

# Python ML Microservice URL (FastAPI)
ML_SERVICE_URL=http://localhost:8000

# Client Application URL
CLIENT_URL=http://localhost:5173
